<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all stocks</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .stocks, .stocks td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Stocks:</h1>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Change</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.id}">1</td>
        <td th:text="${stock.symbol}">JD</td>
        <td th:text="${stock.name}">Apple</td>
        <td th:text="${stock.price}">130.5</td>
        <td th:text="${stock.change}">12%</td>
    </tr>
    </tbody>
</table>
</body>
</html>
